{% if is_user_authenticaited == False %}
<h1> Invalid User Credentials </h1>
<p>Check if the userame and password is correct</p>
{% else %}
<h1>User password Successfully Updated!</h1>
<p>The password has been upddated</p>
{% endif %}